@import "base/variables";
@import "base/mixins";

* {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import "blocks/header";
@import "blocks/buttons";
@import "blocks/apps";
@import "blocks/developments";
@import "blocks/works";
@import "blocks/projects";
@import "blocks/media";