* {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.header {
  min-height: 900px;
  padding-top: 40px;
  background: url("../img/first_bg.jpg") center center/cover no-repeat;
}

.header__band {
  border: 1px solid rgba(161, 161, 161, 0.5);
  border-bottom: 0;
  height: 1px;
  width: 100%;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .menu {
  list-style-type: none;
  width: 580px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
}

.header .menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.header .menu__link:hover {
  border-bottom: 2px solid white;
  padding-bottom: 36px;
}

.header .menu__link:focus {
  border-bottom: 2px solid white;
  padding-bottom: 36px;
}

.header .promo {
  margin-top: 220px;
}

.header .promo__header {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.header .promo__subheader {
  width: 830px;
  margin: 20px auto 0 auto;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
}

.header .hamburger {
  display: none;
}

.btn {
  width: 200px;
  height: 45px;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
          box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  border: none;
  margin-top: 50px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.btn:hover {
  background: #1f438b;
}

.btn_works {
  position: static;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  margin-top: 0;
}

.apps {
  padding: 110px 0 180px 0;
}

.apps__subheader {
  width: 752px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #323232;
}

.apps__descr {
  width: 730px;
  margin: 30px auto 0 auto;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
}

.apps__wrapper {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.apps__block {
  width: 355px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.apps__circle {
  width: 110px;
  height: 110px;
  border: 1px solid #E0E0E0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.apps__img {
  width: 90px;
  height: 90px;
  border: 1px solid #4985FF;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.apps__text {
  width: 220px;
  margin-top: 45px;
}

.apps__text_header {
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.apps__text_descr {
  margin-top: 12px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}

.developments {
  min-height: 707px;
  padding: 100px 0 70px 0;
  background-color: #F6F6F8;
}

.developments__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.developments__block {
  width: 490px;
  margin-top: 50px;
}

.developments__subtitle {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
}

.developments__descr {
  margin-top: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.developments__link {
  display: block;
  margin-top: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4985FF;
}

.developments__band {
  margin-top: 70px;
  width: 100%;
  height: 1px;
  border: 1px solid #E0E0E0;
  border-bottom: none;
}

.developments__img {
  width: 520px;
}

.developments__img img {
  width: 100%;
}

.developments__projects {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.developments__project {
  width: 100px;
}

.developments__imgNum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.developments__imgNum span {
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
}

.developments__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.works {
  height: 500px;
  padding-top: 100px;
  margin-bottom: 470px;
  background: -webkit-gradient(linear, left top, right top, color-stop(20.44%, #504DC2), color-stop(80.91%, #5F12D0)), #C4C4C4;
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), #C4C4C4;
}

.works__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__subheader {
  width: 540px;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #FFFFFF;
  margin-bottom: 0;
}

.works__wrapper {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works__block {
  width: 350px;
}

.works__img {
  width: 100%;
}

.works__img img {
  width: 100%;
}

.works__title {
  margin-top: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  color: black;
}

.works__title span {
  color: #4985FF;
}

.works__descr {
  margin-top: 25px;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

.works__link {
  display: block;
  margin-top: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #4985FF;
}

.works__band {
  margin: 85px 0;
  width: 100%;
  height: 1px;
  border-bottom: 0;
  border: 1px solid #E0E0E0;
}

.projects {
  min-height: 730px;
  padding: 100px 0 80px 0;
  background-color: #F6F6F8;
}

.projects__subheader {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}

.projects__descr {
  margin: 0 auto;
  margin-top: 40px;
  width: 730px;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
}

.projects__wrapper {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__img {
  width: 255px;
}

.projects__img img {
  width: 100%;
}

.video {
  position: relative;
  height: 570px;
  padding-top: 70px;
  background: url("../img/second_bg.jpg") center center/cover no-repeat;
}

.video__subheader {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 0;
  color: #FFFFFF;
}

.video__descr {
  margin-top: 30px;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.video__block {
  position: absolute;
  top: 220px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 970px;
}

.video__block img {
  width: 100%;
}

.video__play {
  position: absolute;
  top: 165px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 300px;
  height: 100px;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 40px;
}

.video__circle {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.video__circle:hover {
  background-color: #1f438b;
  border: 1px solid #FFFFFF;
}

.video__circle:hover span {
  border-left: 20px solid #FFFFFF;
}

.video__circle span {
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 20px solid #4985FF;
  border-bottom: 10px solid transparent;
  margin-left: 3px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.video__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

.video__band {
  position: relative;
  top: 570px;
  height: 1px;
  width: 100%;
  border-bottom: 0;
  border: 1px solid #E0E0E0;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .header {
    min-height: 750px;
  }
  .header .promo {
    margin-top: 180px;
  }
  .apps__wrapper {
    margin-top: 35px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .apps__block {
    margin-top: 35px;
  }
  .developments__block {
    width: 440px;
  }
  .developments__img {
    width: 450px;
  }
  .works {
    padding-top: 80px;
    margin-bottom: 1010px;
  }
  .works__wrapper {
    margin-top: 30px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works__block {
    margin-top: 30px;
  }
  .works__band {
    margin: 75px 0;
  }
  .projects {
    padding: 75px 0 150px 0;
  }
  .projects__wrapper {
    margin-top: 35px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .projects__img {
    margin-top: 35px;
  }
  .video__block {
    width: 900px;
    top: 200px;
  }
  .video__band {
    top: 520px;
  }
  .video__play {
    top: 160px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .header {
    min-height: 670px;
    padding-top: 20px;
  }
  .header .menu {
    height: 40px;
  }
  .header .menu__link:hover {
    padding-bottom: 18px;
  }
  .header .menu__link:focus {
    padding-bottom: 18px;
  }
  .header .promo {
    margin-top: 150px;
  }
  .header .promo__subheader {
    width: 730px;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
  }
  .apps {
    padding: 70px 0 170px 0;
  }
  .apps__subheader {
    width: 700px;
  }
  .apps__descr {
    width: 700px;
  }
  .developments {
    padding: 70px 0 60px 0;
  }
  .developments__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .developments__block {
    width: 645px;
    margin-top: 0;
  }
  .developments__img {
    margin-top: 30px;
    width: 520px;
  }
  .developments__band {
    margin-top: 50px;
  }
  .developments__projects {
    margin-top: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .developments__project {
    margin: 20px 50px 0 50px;
  }
  .works {
    margin-bottom: 1036px;
    padding-top: 60px;
  }
  .works__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .works__subheader {
    text-align: center;
    margin-bottom: 20px;
  }
  .works__band {
    margin: 65px 0;
  }
  .video {
    height: 440px;
    padding-top: 50px;
  }
  .video__block {
    width: 725px;
    top: 175px;
  }
  .video__band {
    top: 440px;
  }
  .video__play {
    top: 114px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .header {
    position: relative;
    min-height: 500px;
  }
  .header__band {
    display: none;
  }
  .header .hamburger {
    display: block;
    position: absolute;
    width: 26px;
    height: 16px;
    top: 14px;
    left: 14px;
  }
  .header .hamburger span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: white;
    margin-bottom: 4px;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .header .hamburger_active {
    top: 18px;
  }
  .header .hamburger_active span {
    margin-bottom: -2px;
  }
  .header .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .header .hamburger_active span:nth-child(2) {
    display: none;
  }
  .header .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .header__band {
    position: absolute;
    top: 42px;
  }
  .header .menu {
    position: fixed;
    z-index: 1;
    top: 0;
    right: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(73, 133, 255, 0.8);
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
  }
  .header .menu_active {
    right: 0;
  }
  .header .menu__item {
    padding: 10px 0;
  }
  .header .menu__link {
    font-size: 20px;
    line-height: 20px;
  }
  .header .menu__link:hover {
    padding-bottom: 10px;
  }
  .header .menu__link:focus {
    padding-bottom: 10px;
  }
  .header .promo {
    margin-top: 100px;
  }
  .header .promo__subheader {
    width: 530px;
    font-size: 42px;
    line-height: 51px;
  }
  .apps {
    padding: 70px 0 170px 0;
  }
  .apps__subheader {
    width: 510px;
  }
  .apps__descr {
    width: 520px;
  }
  .apps__wrapper {
    margin-top: 0;
  }
  .developments {
    padding: 50px 0 50px 0;
  }
  .developments__block {
    width: 530px;
  }
  .works {
    margin-bottom: 1570px;
    padding-top: 50px;
  }
  .works__band {
    margin: 50px 0;
  }
  .projects {
    padding: 50px 0 150px 0;
  }
  .projects__descr {
    width: 530px;
  }
  .projects__wrapper {
    margin-top: 10px;
  }
  .video {
    height: 370px;
  }
  .video__block {
    width: 555px;
  }
  .video__play {
    top: 80px;
  }
  .video__band {
    top: 350px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .header .menu {
    width: 82%;
  }
  .header .promo__subheader {
    width: 290px;
    font-size: 30px;
    line-height: 40px;
  }
  .apps {
    padding: 50px 0 150px 0;
  }
  .apps__subheader {
    width: 290px;
    font-size: 25px;
    line-height: 40px;
  }
  .apps__descr {
    width: 290px;
    margin: 20px auto 0 auto;
    font-size: 14px;
    line-height: 20px;
  }
  .apps__wrapper {
    margin-top: 0;
  }
  .apps__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .apps__text {
    margin-top: 35px;
  }
  .apps__text_header {
    text-align: center;
  }
  .apps__text_descr {
    text-align: center;
  }
  .developments {
    padding: 50px 0 50px 0;
  }
  .developments__block {
    width: 290px;
  }
  .developments__subtitle {
    font-size: 25px;
    line-height: 40px;
  }
  .developments__descr {
    margin-top: 17px;
    font-size: 14px;
    line-height: 23px;
  }
  .developments__img {
    width: 285px;
  }
  .developments__projects {
    margin-top: 15px;
  }
  .works {
    margin-bottom: 1340px;
    padding-top: 40px;
  }
  .works__subheader {
    width: 280px;
    font-size: 25px;
    line-height: 42px;
  }
  .works__wrapper {
    margin-top: 15px;
  }
  .works__block {
    width: 280px;
    margin-top: 50px;
  }
  .works__title {
    margin-top: 25px;
    font-size: 17px;
    line-height: 17px;
  }
  .works__descr {
    margin-top: 15px;
    font-size: 14px;
    line-height: 22px;
  }
  .works__band {
    margin: 40px 0;
  }
  .projects {
    padding: 40px 0 150px 0;
  }
  .projects__subheader {
    font-size: 30px;
    line-height: 30px;
  }
  .projects__descr {
    width: 280px;
    margin-top: 25px;
    font-size: 14px;
    line-height: 22px;
  }
  .video {
    height: 265px;
    padding-top: 40px;
  }
  .video__subheader {
    font-size: 27px;
    line-height: 32px;
  }
  .video__descr {
    margin-top: 20px;
    font-size: 14px;
    line-height: 14px;
  }
  .video__block {
    width: 300px;
  }
  .video__play {
    top: 30px;
    width: 260px;
    height: 78px;
    padding: 0 20px;
  }
  .video__band {
    top: 210px;
  }
}
/*# sourceMappingURL=style.css.map */